body {
    padding-top: 70px;
}

.mt_0 {margin-top: 0;}
.mb_0 {margin-bottom: 0;}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,1);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,1);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

li.change-lang ul.dropdown-menu {
    min-width: 78px;
}
li.change-lang > a img {height: 17px; width: 26px;}
li.change-lang ul.dropdown-menu li {text-align: center;}
li.change-lang ul.dropdown-menu li img {
    border: 1px solid #eee;
    height: 17px;
    width: 26px;
}
