{% extends 'AppBundle::base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}

    <div class="container">

        <div class="page-header">
            <h1>{{ 'error.er403'|trans }}</h1>
        </div>
        
        <p>{{ 'error.er403p'|trans }}</p>
        
    </div> <!-- /container -->

{% endblock %}