{% extends 'AppBundle:Emails:base.html.twig' %}

{% trans_default_domain 'admin' %}

{% block content %}

    {% set title = auction.langs.first.title %}
    {% for lang in auction.langs %}
        {% if lang.lang.shortcut == app.session.get('_locale') %}
            {% set title = lang.title %}
        {% endif %}
    {% endfor %}

    <h3>{{ 'mail.witaj'|trans({'%username%': app.user.fullname}) }}</h3>
    <p>{{ 'auctions.poaukcyjna.mail_temat_content'|trans({'%nazwa%': work.title, '%aukcja%': title, '%kwota%': bid.amount~' '~bid.currency.code}, 'messages') }}</p>
{% endblock %}