{% extends 'AppBundle:Emails:base.html.twig' %}

{% trans_default_domain 'admin' %}

{% block content %}
    <h3>{{ 'mail.witaj'|trans({'%username%': user.fullname}) }}</h3>
    <p>{{ 'mail.auction.zakonczenie_aukcji_obiekt_niesprzedany'|trans({'%obiekt%': work.title}, 'messages', locale) }}</p>
{% endblock %}