{% extends 'AppBundle:Emails:base.html.twig' %}

{% trans_default_domain 'admin' %}

{% block content %}
    <h3>{{ 'mail.witaj1'|trans() }}</h3>
    <p>{{ 'works.mail_temat_content_seller'|trans({'%nazwa%': work.title, '%kwota%': bid.amount~' '~bid.currency.code}, 'messages') }}</p>
{% endblock %}