{% extends 'AppBundle::base.html.twig' %}

{% block title %}{{ 'profile.platnosci.dokonaj'|trans }} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">

        <div class="page-header mt_0">
            <h1 class="mt_0">{{ 'profile.platnosci.anulowano'|trans }}</h1>
        </div>

        <p>{{ 'profile.platnosci.anulowano_p'|trans }}</p>

    </div>
{% endblock %}
