<html>
    <head>
        <style>            
            .error-h1 {
                font-size: 44vh;
                position: relative;
                text-align: center;
                margin: 0;
                padding: 0;
                top: 20vh;
                color: #222;
            }

            .error-h1-small {
                font-size: 5vh;
                position: relative;
                text-align: center;
                margin-top: 20vh;
                padding: 0;
                /*top: 20vh;*/
                color: #222;
            }
        </style>
    </head>
    <div class="container">
    
    <h1 class="error-h1">404</h1>
    <p class="error-h1-small">Nie znaleziono/not found</p>
</div> <!-- /container -->


</html>