{% extends 'AppBundle::base.html.twig' %}

{% block title %}{{ 'uslugi.uslugi'|trans }} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">

        <div class="page-header mt_0">
            <h1 class="mt_0">{{ 'uslugi.informacja'|trans }}</h1>
        </div>

        <p>{{ 'uslugi.informacja_deny'|trans }}</p>

    </div>
{% endblock %}