{% extends 'AppBundle:Emails:base.html.twig' %}

{% trans_default_domain 'admin' %}

{% block content %}
<h3>{{ 'mail.witaj'|trans({'%username%': author.username}) }}</h3>

<p>Informujemy, że Twoje dzieło "{{ work.title }}" dodane {{ work.addDate|date('Y-m-d H:i:s') }} zostało usunięte przez administratora.</p>

<hr />
<small>Wiadomość wygenerowane automatycznie. Prosimy na nią nie odpowiadać.</small>
{% endblock %}