{% extends 'AppBundle::base.html.twig' %}

{% block body %}

    <div class="container">

        <div class="alert alert-danger">{{ 'newses.brak_jezyka'|trans }}</div>

    </div> <!-- /container -->

{% endblock %}