{% extends 'AdminBundle::base.html.twig' %}

{% trans_default_domain 'admin' %}

{% block body %}

    <div class="container-fluid">
        <div class="page-header mt_0">
            <h1 class="mt_0">Ustawienia</h1>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel tile">
                    <div class="x_title">
                        <h2>Polityka bezpieczeństwa Artbidy</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li style="float: right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        {{ form_start(form) }}
                        {{ form_widget(form.value) }}
                        <input type="submit" style="margin-top: 10px;" value="{{ 'admin.zapisz'|trans }}" class="btn btn-success" />
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        
    </div>

{% endblock %}